apache-cxf-sample6-jms/src/main/resources/com/diegoschivo/samples/apache/cxf/jms/queue/wsdlfirst/adder.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AdderService" targetNamespace="http://samples.diegoschivo.com/apache/cxf/jms/queue/wsdlfirst"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:jms="http://cxf.apache.org/transports/jms" xmlns:tns="http://samples.diegoschivo.com/apache/cxf/jms/queue/wsdlfirst"
  xmlns:x1="http://samples.diegoschivo.com/apache/cxf/jms/queue/wsdlfirst/types">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://samples.diegoschivo.com/apache/cxf/jms/queue/wsdlfirst/types">
      <element name="sum">
        <complexType>
          <sequence>
            <element name="a" type="xsd:int" />
            <element name="b" type="xsd:int" />
          </sequence>
        </complexType>
      </element>
      <element name="sumResponse">
        <complexType>
          <sequence>
            <element name="c" type="xsd:int" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="sumRequest">
    <wsdl:part element="x1:sum" name="in" />
  </wsdl:message>
  <wsdl:message name="sumResponse">
    <wsdl:part element="x1:sumResponse" name="out" />
  </wsdl:message>
  <wsdl:portType name="AdderPortType">
    <wsdl:operation name="sum">
      <wsdl:input message="tns:sumRequest" name="sumRequest" />
      <wsdl:output message="tns:sumResponse" name="sumResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdderPortBinding" type="tns:AdderPortType">
    <soap:binding style="document" transport="http://cxf.apache.org/transports/jms" />
    <wsdl:operation name="sum">
      <soap:operation style="document" />
      <wsdl:input name="sumRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sumResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdderService">
    <wsdl:port binding="tns:AdderPortBinding" name="AdderPort">
      <jms:address destinationStyle="queue" jndiConnectionFactoryName="ConnectionFactory"
        jndiDestinationName="dynamicQueues/test.cxf.jmstransport.queue">
        <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory" />
        <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61616" />
      </jms:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>